<%- include('../partials/header') %>

<h2>Enter a New Client</h2>
<form action="/clients" method="POST">
    <label>Name:
        <input type="text" name="name">
    </label><br>
    <label>Phone:
        <input type="number" name="phone">
    </label><br>
    <label>Address:
        <input type="text" name="address">
    </label><br>
    </label><br>
    <button type="submit">Add Client</button>
</form>

<%- include('../partials/footer') %>