<%- include('../partials/header') %>

<form action="/customers/<%= customer.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="name" value="<%= customer.name %>">
    <button type="submit">Update Customers</button>
</form>

<%- include('../partials/footer') %>